language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"

# command to install dependencies
install:
  - pip install -r requirements.txt 
  - pip install numpy  # optional reqs
  - pip install xlrd xlsxwriter openpyxl  # competitors
  - pip install memory_profiler futures  # benchmark dependencies
  - pip install coverage coveralls  # test coverage

# command to run tests
script:
  - nosetests --with-coverage --cover-package=pyexcelerate

after_success:
  - coveralls
