[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
openpyxl = "*"
xlsxwriter = "*"
memory-profiler = "*"
pytz = "*"
black = "*"

[packages]
six = ">=1.4.0"
Jinja2 = "*"

[scripts]
test = "nosetests"
